<html>
    <head>
        <title>Password reset sent</title>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                PASSWORD RESET SENT!
            </div>
            <div class="card-body">
              <h5 class="card-title">We've email you instructions for setting your password. If an account exist with the email the entered, you should receive them shortly.</h5>
              <p class="card-text">If you don't receive an email, please make sure yoy've entered the address you registered with, and check your spam folder.</p>
             </div>
          </div>
    </body>
</html>